html, body
{
    height: 100%;
    background-color: #212121;
    text-align: center;
}

.cirrus-white, h1, h2, .body-text
{
    color: #FAFAFA;
}

a
{
    color: inherit;
    text-decoration: underline;
}

h1
{
    margin-bottom: 5%;
}

h2
{
    margin-bottom: 1%;
}
